{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>ZLOY</title>
    </head>
  <body>
    {% include "includes/header.html" %}
    <div class="container">     
      <main>
        {% include "includes/left_nav_bar.html" %}
        {% block content %}
          Что-то пошло не так, попробуйте перезагрузить.
        {% endblock %}
      </main>
    </div>
    {% include "includes/footer.html" %}
  </body>
</html>